

    <style>

        /* Header/Logo Title */
        .header {
            padding: 60px;
            text-align: center;
            color: black;
            font-size: 20px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }
    </style>

    <div class="header">
        <h1>Din Anmodning er Registreret!</h1>
    </div>
<a style="margin-left: 10px; color: black; font-size:18px" asp-controller="Login" asp-action="Index">< Tilbage til Login</a>
